.post {
    width: 380px;
    border-top: solid 1px gray;
    padding: 10px 0;

    .img {
        display: block;
        height: 380px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .time {
        display: inline-block;
        float: right;
        font-size: 12px;
        color: black;
        font-style: italic;
    }
}