.-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    & > * {
        display: inline-block;
        max-width: 230px;
        padding: 10px;
        border: solid 1px black;
        border-radius: 10px;
        margin: 10px;
        cursor: pointer;

        & .desc{
            max-height: 50px;
            overflow: hidden;
        }

        &:hover {
            border-color: red;
            & h3 {
                color: red;
            }
        }

        & img {
            width: 210px;
            height: 210px;
        }
    }
}