:root {
    --color-first: #00008b;
    --color-second: #008b8b;
    --color-background: linear-gradient(0deg,rgba(255, 238, 176, 1) 0%, rgba(232, 211, 149, 1) 6%, rgba(247, 224, 161, 1) 92%, rgba(229, 188, 62, 1) 100%);
    --color-danger: darkred;
    --border-first: solid 1px var(--color-first);
    --border-second: solid 1px var(--color-second);
}

* {
    box-sizing: border-box;
}

body,html {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(/imgs/fon.jpg);
    background-size: 100px 100px;
}

header {
    position: sticky;
    top:0;
    height: 62px;
    margin-bottom: 10px;

    & > nav {
        display: inline-block;

        & ul {
            padding-left: 10px;
        }

        & li {
            display: inline-block;
            margin-right: 10px;
        }
    }
}

.avatar {
    display: inline-block;
    height: 180px;
    width: 180px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clip-path: circle(50%);

    margin-bottom: 5px;
}

#logo {
    height: 50px;
    vertical-align: middle;
}

footer {
    height: 20px;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
}

footer, header, section, aside > .panel {
    background: var(--color-background);
    border: var(--border-first);
    box-shadow: 0 0 10px black;
    padding: 5px;
}

.panel, section{
    border-radius: 5px;
    padding: 10px !important;
}

body > div {
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: stretch;
    justify-content: center;

    & > div {
        width: 820px;

        & > section {
            width: 800px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        /*& > aside {
            float: right;
            width: 300px;
            margin-left: 10px;
            position: sticky;
            top: 70px;
        }*/
    }
}

.btn {
    text-decoration: none;
    color: var(--color-first);

    background: linear-gradient(180deg, rgb(218, 184, 132) 25%, rgb(177, 133, 86) 75%, orange);
    padding: 5px;
    border: var(--border-first);
    border-radius: 5px;

    &:hover {
        color: var(--color-second);
        border-color: var(--color-second);
        background: linear-gradient(180deg, rgb(255, 224, 177) 25%, rgb(232, 175, 114) 75%, orange);
    }

    &.act {
        outline: solid 3px orange;
        color: var(--color-danger);
    }
}

.-two-td td:nth-child(1){
    text-align: right;
}

.files {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;

    & > div {
        display: inline-block;
        width: 120px;
        margin: 10px;
        border: var(--border-first);
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        word-wrap: break-word;
        position: relative;

        & > .f-t-r {
            position: absolute;
            cursor: pointer;
            top: -10px;
            right: -10px;
        }
    }
}

.errors{
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    & .error {
        margin-bottom: 5px;
        background-color: #FFA0A0;
        border: solid 1px red;
        border-radius: 10px;
        padding: 10px;
        & i {
            float: right;
        }
    }
}
.file {
    & img {
        max-width: 64px;
    }
    & .file-info span{
        font-size: x-small;
    }
}